*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    
.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "a a a a"
    "b b b b"
    "c c d d"
    "e e e e";

}
.container__faqs{
    display: grid;
    grid-template-columns: repeat(3, 1 fr);
    grid-template-areas: 
    "a a a"
    "b b b"
    "c c c"
    "e e e";
}

.container__contact{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "a a a"
    "b b b"
    "c c c"
    "e e e";

}


.navegador{
    grid-area: a;
    background: linear-gradient(to bottom, rgb(56, 47, 77), rgb(72, 68, 88));
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

ul{
    display: flex;
    border: none;
    padding: 20px 32px;
    font-size: 20px;
    list-style-type: none;
    font-size: larger;
    text-decoration: none;
    
}

ul a{ 
    color: white;
    text-decoration: none;
    margin-left: 40px;
    
}

.Encabezado__inicio{
    grid-area: b;
    background-image: url("../assets/torres-madrid.jpg") ;
    
}
.Encabezado__inicio p{
    display: flex;
    margin-top: 150px;
    margin-bottom: 150px;
    font-size: 500%;
    color: rgb(255, 255, 255);
    justify-content: center;
}

.Encabezado__faqs{
    grid-area: b;
    background-image: url("../assets/torres-madrid.jpg") ;
}
.Encabezado__faqs p{
    display: flex;
    margin-top: 150px;
    margin-bottom: 150px;
    font-size: 500%;
    color: rgb(255, 255, 255);
    justify-content: center;
}

.seccion1{
    grid-area: c;
    background: linear-gradient(to bottom, rgb(56, 47, 77), rgb(72, 68, 88));
    display: inline-block;
}
    
.seccion1__articulo{
    font-size: 15px;
    color: white;
    margin: 90px 160px;
    padding-bottom: 100px;
 }

.seccion2{
    grid-area: d;
    background: linear-gradient(to bottom, rgb(56, 47, 77), rgb(72, 68, 88));
    display: inline-block;
 }

 .seccion__faq{
    grid-area: c;
    background: linear-gradient(to bottom, rgb(56, 47, 77), rgb(72, 68, 88));
    display: inline-block;
 }

 .Pregunta__faqs{
    font-size: 25px;
    color: white;
    text-align: center;
    margin-top: 50px;
 }

 .Respuesta__faqs{
    color: white;
    display: block;
    font-size: 18px;
    margin: 100px 350px;
 }

.formulario{
    grid-area: c;
    height: 50%;
    color: black;
     background-color: rgb(233, 221, 221);
     box-shadow: 0 5px 10px -5px rgb(124, 122, 122);
     margin: 150px 10px;

}
.Nombre__ap input{
    background: none;
    border:none;
    border-bottom: 1px solid black;
    outline: none;
    cursor: pointer;
    
}
.email{
    text-align: center;
}
.email input{
    background: none;
    border:none;
    border-bottom: 1px solid black;
    margin: 15px;
    outline: none;
    cursor: pointer;
}
.edo__civil{
    border-radius: 5px;
    text-align: center;
}
.edo__civil select{
    background: none;
    border:none;
    border-bottom: 1px solid black;
    margin: 15px;
    outline: none;
    cursor: pointer;
}

.noticias{
    text-align: center;
}
.form{
    margin-top: 15px;
    text-align: center;
    
}
.form input{
    cursor: pointer;
}

 footer{
    grid-area: e;
    background-color: rgb(5, 5, 5);

}

.Pie_redes{
    min-width: 700px;
    margin-top: 70px;
    margin-bottom: 60px;
    
}

.Pie_redes a {
    display: inline-block;
    margin-left: 20px;
    text-decoration: none;
    font-size: 28px;
    line-height: 60px;
    color: #f1f1f1;
    border-radius: 50%;
    transition: all .4s ease-in-out;
  }

  .Pie_redes a:hover {
    transform: scale(1.2);
}


@media (max-width: 520px ) {
    .container{
        overflow: hidden;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "a a"
        "c c"
        "d d"
        "e e"; 
    }
    .container__faqs{
        overflow: hidden;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "a a"
        "b b"
        "c c"
        "e e"; 
    }

    .container__contact{
        overflow: hidden;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "a a"
        "c c"
        "e e";
    }
    .checkbtn{ 
        display: block;


    }

    .navegador{
        height: 80px;
    }
    .container__contact header{
        display: none;
    }
    

    .navegador ul{
        position: relative;
        flex-direction: column;
        width: 70%;
        height: 60vh;
        background: grey;
        left: -100%;
        text-align: left;
        transition: all .5s;
    }


    .navegador ul li{
        display: block;
        margin-top: 40px;

    }

    .navegador ul li a{
        font-size: 20px;
    }
    #check:checked ~ ul{
        left: 0;
    }
    .Encabezado__inicio{
        display: none;
    }
    .Encabezado__faqs{
        display: none;
    }

    .Respuesta__faqs{
        color: white;
        font-size: 15px;
        margin: 15px 20px 30px 20px;
        
     }

    .seccion1{
        display: block;
        background-color: blue;
    }

    .seccion1 .seccion1__articulo{
        font-size: 15px;
        margin: 15px 20px 0 20px;

    }
    .formulario{
        grid-area: c;
        color: black;
        text-align: center;
        margin: 140px 50px 0 50px;
        padding: 20px 25px 65px 25px;
        background-color: rgb(233, 221, 221);
         box-shadow: 0 5px 10px -5px rgb(124, 122, 122);
         border-radius: 5px;
    
    }
    .Nombre__ap input{
        font-size: 13px;
        margin: 10px 0;
        background: none;
        border:none;
        border-bottom: 1px solid black;
        outline: none;
        cursor: pointer;
        
    }
    .noticias input{
        margin-top: 20px;
    }

    .form{
        margin-top: 5px;
    }
    .form input{
        font-size: 11px;
    }

    iframe{
        margin: 10px 20px 0 40px;
    }


    .Pie_inicio{
        position: fixed;
    }
}













